<%- include partials/header %>
	<div class="page-banner">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="jumbotron">
						<h1 class="text-center"><%= headline %></h1>
					</div>
				</div>
			</div>
		</div>
	</div><!--end page-banner-->
	<div class="city-intro">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<a href="/london">
						<img src="../imgs/thumbs/london-thumb.jpg">
						<h3><span>London</span></h3>
					</a>
				</div>
				<div class="col-sm-6">
					<a href="/paris">
						<img src="../imgs/thumbs/paris-thumb.jpg">
						<h3><span>Paris</span></h3>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<a href="/newyork">
						<img src="../imgs/thumbs/newyork-thumb.jpg">
						<h3><span>NewYork</span></h3>
					</a>
				</div>
				<div class="col-sm-6">
					<a href="/madrid">
						<img src="../imgs/thumbs/madrid-thumb.jpg">
						<h3><span>Madrid</span></h3>
					</a>
				</div>
			</div>
		</div>
	</div>
<%- include partials/footer %>